In [25]:
import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS 
import numpy as np
from matplotlib import pyplot as plt

In [8]:
# Path to the exported CSV file
file_path = '/Users/ashwanisherawat/citibike_env/bin/station_data.pickle'

In [26]:
# Load the uploaded pickle file
data = pd.read_pickle(file_path)

In [27]:
# Display the first few rows of the dataset to understand its structure
data.head()

,start_station_name,end_station_name,trips,start_lat,start_lng,end_lat,end_lng
0,1 Ave & E 110 St,1 Ave & E 110 St,791,40.792337,-73.93824,40.792327,-73.938300
1,1 Ave & E 110 St,1 Ave & E 18 St,2,40.792337,-73.93824,40.733812,-73.980544
2,1 Ave & E 110 St,1 Ave & E 30 St,4,40.792337,-73.93824,40.741444,-73.975361
3,1 Ave & E 110 St,1 Ave & E 39 St,1,40.792337,-73.93824,40.747140,-73.971130
4,1 Ave & E 110 St,1 Ave & E 44 St,12,40.792337,-73.93824,40.750020,-73.969053

In [28]:
data.shape

(1013422, 7)

In [50]:
# Filter dataset to include rows where trips > 40
filtered_data = data[data['trips'] > 40]

# Select a random sample of up to 500 rows
sample_size = min(50000, filtered_data.shape[0])  # Ensure we don't sample more rows than available
random_sample = filtered_data.sample(n=sample_size, random_state=42)

In [51]:
random_sample.shape

(50000, 7)

In [52]:
random_sample.head()

,start_station_name,end_station_name,trips,start_lat,start_lng,end_lat,end_lng
471367,E 7 St & Ave C,E 4 St & 2 Ave,304,40.724129,-73.979013,40.726281,-73.989780
388947,E 14 St & 1 Ave,8 Ave & W 38 St,77,40.731393,-73.982867,40.754610,-73.991770
173566,Albany St & Greenwich St,W 53 St & 10 Ave,43,40.708821,-74.013834,40.766697,-73.990617
771722,Riverside Dr & W 104 St,E 97 St & Madison Ave,71,40.801343,-73.971146,40.787801,-73.953559
929531,W 45 St & 8 Ave,8 Ave & W 24 St,63,40.759291,-73.988597,40.745911,-73.998071

In [53]:
 m = KeplerGl(height=700, data={'data_1': random_sample})
 m

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data_1':               start_station_name       end_station_name  trips  start_lat  \
471367  …

In [48]:
 config = m.config

In [54]:
m.save_to_html(file_name='Citi Bike Trips Aggregated_50000.html', read_only = False, config = config)

Map saved to Citi Bike Trips Aggregated_50000.html!